* {
    padding: 0;
    margin: 0;
}

body {
    background: rgb(238, 235, 235);
    text-align: center;
}

h1 {
    color: maroon;
    font-size: large;
    padding: 0.3em;
    margin-bottom: 230px;
}

p {
    padding: 0.5em 0;
    color: rgb(15, 15, 15);
    font-size: 1.2em;
    line-height: 1.2em;
}

a {
    text-decoration: none;
}

a:hover {
    color: rgb(250, 248, 252);
}

video {
    position: absolute;
    top: 30px;
    left: 10px;
    right: auto;
}

#status,
label {
    padding: 0.5em;
    font-size: 1.1em;
}

input {
    width: 40%;
    min-width: 40vw;
}

#submit {
    display: block;
    margin: 2vh auto;
    padding: 2vw;
    font-size: 2.5vw;
    height: 6vh;
    width: 20vw;
    background: cornflowerblue;
    border: none;
    border-radius: 0.3em;
    font-size: 2.5vw;
    font-weight: bold;
    color: crimson;
    text-align: center;
}

#submit:hover {
    border: 2px solid crimson;
}

@media (min-width: 700px) {
    body {
        background: rgb(145, 228, 248);
        color: mintcream;
        font-size: 1.3em;
        line-height: 1.2em;
    }
    h1 {
        padding: 0.5em;
        font-size: 3em;
    }
    p {
        padding: 1em;
        text-align: left;
    }
    video {
        left: 30%;
        margin-top: 60px;
    }
    #submit {
        width: 20vw;
        height: 10vh;
        font-size: 1.5em;
    }
}